

.footer-logo li {
    display: inline-block;
    padding-right: 15px;
}
.footer-logo li a {
    color: #626262;
    font-size: 15px;
}
.footer-logo li a:hover {
    color: #333;
}
.footer-logo > a {
    color: #222;
    display: block;
    font-size: 29px;
    line-height: 1;
    padding-bottom: 17px;
    text-transform: uppercase;
}
.footer-title > h3 {
    color: #222;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.footer-menu a {
    color: #626262;
    display: block;
    padding-left: 12px;
}
.footer-menu a:hover {
    color: #222;
}
.footer-menu li {
    display: block;
    padding-bottom: 12px;
    
}
.footer-menu li:last-child {
    padding-bottom: 0px;
}

.footer-menu{ 
   text-align: left;
}
.footer-logo > p {
    margin-bottom: 20px;
}
.subscribe-form form input {
    border: 0 none;
    height: 50px;
    padding-left: 16px;
    padding-right: 140px;
    position: relative;
    width: 100%;
}
.mc-form .mc-news {
    left: -5000px;
    position: absolute;
}
.subscribe-form form input {
    background-color: transparent;
    border: 1px solid #ddd;
    height: 45px;
    padding-left: 16px;
    padding-right: 140px;
    position: relative;
    width: 100%;
}
.mc-form .clear {
    bottom: 0;
    display: inline-block;
    position: absolute;
    right: 6px;
}
.clear {
    clear: both;
}
.subscribe-form form .mc-form .clear input {
    background: #222 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    font-weight: 500;
    height: 45px;
    line-height: 45px;
    padding: 0 30px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    width: inherit;
    position: relative;
}

.subscribe-form form .mc-form .clear input:hover {
    background: #555 none repeat scroll 0 0;
}
.footer-bottom > p {
    margin-bottom: 0;
    margin-top: 2px;
}
.footer-bottom > p a {
    color: #222;
}
.footer-bottom > p a:hover {
    text-decoration: underline;
}
.footer-bottom {
    border-top: 1px solid #f6f6f6;
    margin-top: 100px;
}
.footer-logo {
    display: block;
    overflow: hidden;
    height: 200px;
    width: 400px;
}
.footer-logo.footer-style-2 li {
    display: inline-block;
    padding-right: 0px;
    margin: 0 10px;
}
.footer-logo.footer-style-2 {
    padding-top: 100px;
}
.footer-logo.footer-style-2 a {
    padding-bottom: 0;
}
.footer-logo.footer-style-2 > p {
    margin: 0 auto;
    width: 29%;
    padding: 20px 0;
}