/*-----------------------------------------------------------------------------------
    Template Name:  Mira - Minimal eCommerce HTML Template
    Description: This is html5 template
    Author: HasTech
    Version: 1.0
-----------------------------------------------------------------------------------
    
    [Table of contents] 
	
    1. Template default css (assets/css/shortcodes/bundle.css)
    2. Header css (assets/css/shortcodes/header.css)
    3. Slider css (assets/css/shortcodes/slider.css)
    4. Slider css (assets/css/shortcodes/modal.css)
    5. Slider css (assets/css/shortcodes/shop.css)
    6. Footer css (assets/css/shortcodes/footer.css)
    7. Login area
    8. Shopping cart
    9. Shop page
    10. Checkout page
    11. Blog page
    12. Blog details page
    13. Contact us
    14. About us
    15. Scrollup
    
    
-----------------------------------------------------------------------------------*/


/*---------------------
  7. Login area
-------------------------*/

.waraper {
    padding: 0 100px;
}
.section-title > h3 {
    font-size: 30px;
    margin-bottom: 20px;
}
.section-title.text-center {
    margin: 0 auto;
    padding-bottom: 48px;
    width: 50%;
}

.login-form-container {
    background: #f5f5f5 none repeat scroll 0 0;
    padding: 37px 40px;
    text-align: left;
}
.login-text {
    text-align: center;
    margin-bottom: 30px;
}
.login-text h2 {
    color: #444;
    font-size: 30px;
    margin-bottom: 5px;
    text-transform: capitalize;
}
.login-text span {
    font-size: 15px;
}
.login-form-container input {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 3px;
    color: #333;
    margin-bottom: 20px;
    font-size: 14px;
    height: 40px;
    padding-left: 10px;
    width: 100%;
    border: medium none rgba(0, 0, 0, 0);
    box-shadow: none;
}
.login-form-container input::-moz-placeholder {
    color: #333;
    opacity: 1;
}
.login-form-container input::-webkit-input-placeholder {
    color: #333;
    opacity: 1;
}
.login-toggle-btn {
    padding-top: 20px;
}
.login-form-container input[type="checkbox"] {
    height: 15px;
    margin: 0;
    position: relative;
    top: 1px;
    width: 17px;
}
.login-form-container label {
    color: #222;
    font-size: 15px;
    font-weight: 400;
}
.login-toggle-btn > a {
    color: #333;
    float: right;
    transition: all 0.2s ease 0s;
}
.login-toggle-btn > a:hover {
    color: #777;
}
.button-box .default-btn {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #333;
    border-radius: 30px;
    color: #333;
    font-size: 14px;
    margin-top: 10px;
    padding: 8px 36px 7px;
    text-transform: uppercase;
    transition: all 0.2s ease 0s;
}
.button-box .default-btn:hover {
    background-color: #333;
    border: 1px solid #333;
    color: #fff;
}
#productModal button.close {
    border: 1px solid #ddd;
    height: 30px;
    line-height: 30px;
    opacity: 1;
    position: absolute;
    right: 10px;
    top: 10px;
    transition: all 0.3s ease 0s;
    width: 30px;
    z-index: 99999999;
}
#productModal .modal-body {
    background: #f5f5f5 none repeat scroll 0 0;
}
#productModal .modal-dialog {
    margin: 8% auto;
    max-width: 100%;
    min-height: 300px;
    transition: all 0.5s ease 0s;
    width: 700px;
}
#productModal button.close:hover {
    border-color: #333;
    color: #333;
}
/*----------------------------*/
/*    8. Shopping cart
/*----------------------------*/

.shopping-cart-area {
    border-bottom: 1px solid #ddd;
}
.shopping-cart-area .breadcrumb {
    padding: 30px 0;
}
.shopping-cart-area .breadcrumb li a {
    color: #bdbdbd;
    transition: all 0.3s ease 0s;
}
h1.cart-heading {
    color: #252525;
    font-size: 25px;
    margin-bottom: 25px;
    text-transform: uppercase;
}
.cart-title-area {
    padding-top: 30px;
}
.car-header-title h2 {
    font-size: 20px;
    margin: 0;
    text-transform: uppercase;
}
.table-content table {
    background: #fff none repeat scroll 0 0;
    border-color: #e5e5e5;
    border-radius: 0;
    border-style: solid;
    border-width: 1px 0 0 1px;
    margin: 0 0 50px;
    text-align: center;
    width: 100%;
    border: none;
}
.wishlist .table-content table {
    margin: 0 0 0px;
}
.table-content.wish table {
    margin: 0 0 0px;
}
.table-content table th {
    border-top: medium none;
    color: #555;
    font-size: 16px;
    font-weight: normal;
    padding: 15px 10px 12px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
}
.table-content table td {
    border-top: medium none;
    padding: 20px 10px;
    vertical-align: middle;
    font-size: 13px;
}
.table-content table td input {
    background: #e5e5e5 none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    color: #6f6f6f;
    font-size: 15px;
    font-weight: normal;
    height: 40px;
    padding: 0 5px 0 10px;
    width: 60px;
}
.table-content table td.product-subtotal {
    color: #555;
    font-size: 15px;
    width: 120px;
}
.table-content table td.product-name a {
    color: #6f6f6f;
    font-size: 15px;
    margin-left: 10px;
}
.table-content table td.product-name {
    width: 270px;
}
.table-content table td.product-thumbnail {
    width: 130px;
}
.table-content table td.product-remove i {
    color: #919191;
    display: inline-block;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
}
.table-content table .product-price .amount {
    color: #555;
    font-size: 15px;
}
.table-content table td.product-remove i:hover {
    color: #333;
}
.table-content table td.product-quantity {
    width: 180px;
}
.table-content table td.product-remove {
    width: 150px;
}
.table-content table td.product-price {
    width: 130px;
}
thead {
    background-color: #f6f6f6;
}
.coupon input {
    background-color: transparent;
    border: 1px solid #ddd;
    color: #333;
    font-size: 13px;
    height: 42px;
    width: 120px;
}
.coupon2 input {
    width: inherit;
}
input.button {
    background-color: #333;
    border: 0 none;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    height: 42px;
    letter-spacing: 1px;
    line-height: 42px;
    padding: 0 25px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out 0s;
    width: inherit;
}
input.button:hover {
    background-color: #555;
    color: #fff;
}
.coupon {
    float: left;
}
.coupon2 {
    float: right;
}
.cart-total span {
    float: right;
}
.cart-total > ul {
    border: 1px solid #ddd;
}
.cart-total li {
    border-bottom: 1px solid #ddd;
    color: #555;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 30px;
}
.cart-total li:last-child {
    border-bottom: none;
}
.cart-total {
    padding-top: 50px;
}
.cart-total > a {
  background-color: #333;
  border: 1px solid #333;
  color: #fff;
  display: inline-block;
  margin-top: 30px;
  padding: 9px 20px;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
}
.cart-total > a:hover {
    background-color: #555;
    color: #fff;
    border: 1px solid #555;
}
.cart-total > h2 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: capitalize;
}
/*----------------------------*/
/*    9. Shop page
/*----------------------------*/

h2.page-title {
    /*color: #464646;*/
    color:#332200;
    font-size: 50px;
    letter-spacing: 5px;
    text-transform: uppercase;
    
   
}
.breadcrumb-stye ul > li {
    display: inline-block;
    color: #222;
    text-transform: capitalize;
    font-size: 15px;
}
.breadcrumb-stye ul li a {
    color: #3c3c3c;
    position: relative;
    padding-right: 17px;
    transition: all .3s ease 0s;
}
.breadcrumb-stye ul li a:hover {
    color: #000;
}
.breadcrumb-stye ul li a::after {
    background-color: #464646;
    content: "";
    font-size: 8px;
    height: 15px;
    margin-left: 11px;
    position: absolute;
    right: 7px;
    top: 3px;
    transform: rotate(33deg);
    width: 1.5px;
}
/*=========================== 
    10. Checkout page
============================= */

.coupon-area {} .coupon-accordion {} .coupon-accordion h3 {
    background-color: #f7f6f7;
    border-top: 3px solid #464646;
    color: #515151;
    font-size: 14px;
    font-weight: 400;
    list-style: outside none none !important;
    margin: 0 0 2em !important;
    padding: 1em 2em 1em 3.5em !important;
    position: relative;
    width: auto;
}
.coupon-accordion h3::before {
    color: #1e85be;
    content: "\f114";
    display: inline-block;
    font-family: fontawesome;
    left: 1.5em;
    position: absolute;
    top: 1em;
}
.coupon-accordion span {
    cursor: pointer;
    color: #6f6f6f;
}
.coupon-accordion span:hover,
p.lost-password a:hover {
    color: #464646;
}
.coupon-content {
    border: 1px solid #e5e5e5;
    display: none;
    margin-bottom: 20px;
    padding: 20px;
}
.coupon-info {} .coupon-info p.coupon-text {
    margin-bottom: 15px
}
.coupon-info p {
    margin-bottom: 0
}
.coupon-info p.form-row-first {} .coupon-info p.form-row-first label,
.coupon-info p.form-row-last label {
    display: block;
}
.coupon-info p.form-row-first label span.required,
.coupon-info p.form-row-last label span.required {
    color: red;
    font-weight: 700;
}
.coupon-info p.form-row-first input,
.coupon-info p.form-row-last input {
    border: 1px solid #e5e5e5;
    height: 36px;
    margin: 0 0 14px;
    max-width: 100%;
    padding: 0 0 0 10px;
    width: 370px;
    background-color: transparent;
}
.coupon-info p.form-row-last {} .coupon-info p.form-row input[type="submit"]:hover,
p.checkout-coupon input[type="submit"]:hover {
    background: #464646 none repeat scroll 0 0;
}
.coupon-info p.form-row input[type="checkbox"] {
    height: inherit;
    position: relative;
    top: 2px;
    width: inherit;
}
.form-row > label {
    margin-top: 7px;
}
p.lost-password {
    margin-top: 15px;
}
p.lost-password a {
    color: #6f6f6f;
}
p.checkout-coupon input[type="text"] {
    background-color: transparent;
    border: 1px solid #ddd;
    height: 36px;
    padding-left: 10px;
    width: 170px;
}
p.checkout-coupon input[type="submit"] {
    background: #333 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    color: #fff;
    height: 36px;
    margin-left: 6px;
    padding: 5px 10px;
    transition: all 0.3s ease 0s;
    width: inherit;
}
.coupon-checkout-content {
    margin-bottom: 30px;
    display: none;
}
.checkbox-form h3 {
    border-bottom: 1px solid #e5e5e5;
    font-size: 25px;
    margin: 0 0 20px;
    padding-bottom: 10px;
    text-transform: uppercase;
    width: 100%;
}
.country-select {
    margin-bottom: 30px;
    position: relative;
}
.country-select label,
.checkout-form-list label {
    color: #333;
    margin: 0 0 5px;
    display: block
}
.country-select label span.required,
.checkout-form-list label span.required {
    color: red
}
.country-select select {
    -moz-appearance: none;
    border: 1px solid #ddd;
    height: 32px;
    padding-left: 10px;
    width: 100%;
    background-color: transparent;
}
.country-select::before {
    content: "";
    display: inline-block;
    font-family: fontawesome;
    font-size: 20px;
    position: absolute;
    right: 12px;
    top: 27px;
}
.checkout-form-list {
    margin-bottom: 30px;
}
.checkout-form-list label {
    color: #333;
}
.checkout-form-list label span.required {} .checkout-form-list input[type=text],
.checkout-form-list input[type=password],
.checkout-form-list input[type=email] {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    height: 42px;
    width: 100%;
    padding: 0 0 0 10px;
}
.checkout-form-list {} .checkout-form-list input[type="checkbox"] {
    display: inline-block;
    height: inherit;
    margin-right: 10px;
    position: relative;
    top: 2px;
    width: inherit;
}
.ship-different-title input {
    height: inherit;
    line-height: normal;
    margin: 4px 0 0;
    position: relative;
    top: 1px;
    width: 30px;
}
.create-acc label {
    color: #333;
    display: inline-block;
}
.checkout-form-list input[type=password] {} .create-account {
    display: none
}
.ship-different-title h3 label {
    display: inline-block;
    margin-right: 20px;
    font-size: 25px;
    color: #363636;
}
.order-notes textarea {
    background-color: transparent;
    border: 1px solid #ddd;
    height: 90px;
    padding: 15px;
    width: 100%;
}
#ship-box-info {
    display: none
}
.your-order {
    background: #f2f2f2 none repeat scroll 0 0;
    padding: 30px 40px 45px;
}
.your-order h3 {
    border-bottom: 1px solid #d8d8d8;
    font-size: 25px;
    margin: 0 0 20px;
    padding-bottom: 10px;
    text-transform: uppercase;
    width: 100%;
}
.your-order-table table {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    width: 100%;
}
.your-order-table table th,
.your-order-table table td {
    border-bottom: 1px solid #d8d8d8;
    border-right: medium none;
    font-size: 14px;
    padding: 15px 0;
    text-align: center;
}
.your-order-table table th {
    border-top: medium none;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    width: 250px;
}
.your-order-table table .shipping ul li input {
    position: relative;
    top: 2px;
}
.your-order-table table .shipping th {
    vertical-align: top;
}
.your-order-table table .order-total th {
    border-bottom: medium none;
    font-size: 18px;
}
.your-order-table table .order-total td {
    border-bottom: medium none;
}
.your-order-table table tr.cart_item:hover {
    background: #F9F9F9
}
.your-order-table table tr.order-total td span {
    color: #464646;
    font-size: 20px;
}
.your-order-table table {} .payment-method {
    margin-top: 40px;
}
.payment-accordion {} .payment-accordion h3 {
    border-bottom: 0 none;
    margin-bottom: 10px;
    padding-bottom: 0;
}
.payment-accordion h3 a {
    color: #6f6f6f;
    font-size: 14px;
    padding-left: 25px;
    position: relative;
    text-transform: capitalize;
    text-decoration: none
}
.payment-accordion h3 a:before,
.payment-accordion h3.open a:after {
    content: "ï•";
    display: inline-block;
    font-family: fontawesome;
    font-size: 20px;
    left: 0;
    position: absolute;
    top: -2px;
}
.payment-accordion h3.open a:after {
    content: "\f056";
}
.payment-content {} .payment-content p {
    font-size: 13px;
}
.payment-accordion img {
    height: 60px;
    margin-left: 15px;
}
.order-button-payment input {
    background: #464646 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    height: 50px;
    margin: 20px 0 0;
    padding: 0;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    width: 100%;
    border: 1px solid transparent;
}
.order-button-payment input:hover {
    background: transparent;
    ;
    border: 1px solid #ddd;
    color: #464646;
}
.coupon-info p.form-row input[type="submit"] {
    background: #252525 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    color: #fff;
    display: inline-block;
    float: left;
    font-size: 12px;
    font-weight: 700;
    height: 40px;
    line-height: 40px;
    margin-right: 15px;
    padding: 0 15px;
    text-shadow: none;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
    width: inherit;
}
.mrg-nn {
    margin-bottom: 0;
}
/*----------------------------*/
/*    11. Blog page
/*----------------------------*/

.single-blog {
    position: relative;
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out 0s;
}
.single-blog:hover {
    border: 1px solid #ddd;
}
.single-blog::before {
    background: #fff none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 0.3s ease-in-out 0s;
    width: 100%;
}
.single-blog:hover::before {
    opacity: 1;
}
.blog-title > span {
    color: #222;
    font-size: 14px;
}
.blog-title > h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin: 10px 0;
    transition: all 0.3s ease 0s;
}
.blog-title > h3 a {
    color: #222;
}
.blog-title > h3 a:hover{
    color: #666;
}
.blog-title > a:hover {
    color: #777;
    padding-left: 5px;
}
.blog-title > a {
  color: #222;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
}
.blog-title {
  left: 0;
  opacity: 0;
  padding: 0 15px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s ease 0s;
}
.single-blog img {
    width: 100%;
}
.single-blog:hover .blog-title {
    opacity: 1;
}
/*  blog page */

.single-blog-page img {
    width: 100%;
}
.blog-page-title {
    padding: 20px 115px 0;
}
.blog-page-title > h3 {
    font-size: 25px;
    line-height: 1;
    margin: 7px 0 14px;
    text-transform: capitalize;
}
.blog-page-title > h3 a {
    color: #363636;
}
.blog-page-title > h3 a:hover {
    color: #777;
}
.blog-page-title > span {
    color: #222;
    font-size: 16px;
}


/*----  12. Blog details page ------*/

.blog-details-text {
    padding: 85px 200px 0;
}
.blog-details-text > h3 {
    font-size: 29px;
    line-height: 45px;
    margin-bottom: 30px;
    text-transform: capitalize;
}
.blog-details-text > p {
    font-size: 15px;
}
blockquote {
    border-left: 3px solid #363636;
    color: #363636;
    font-size: 27px;
    margin: 35px 0;
    padding: 7px 20px 15px;
    font-family: "Playfair Display", serif;
}
.blog-details > img {
    width: 100%;
}
.tag li,
.share li {
    display: inline-block;
}
.tag li,
.share li {
    display: inline-block;
    text-transform: capitalize;
    font-size: 16px;
    padding: 0 5px;
    color: #222;
}
.tag li a,
.share li a {
    color: #626262;
}
.tag li a:hover,
.share li a:hover {
    color: #222;
}
.previous {
    display: inline-block;
    float: left;
}
.next {
    display: inline-block;
    float: right;
}
.tag-share {
    margin: 48px 0 50px;
}
.tag {
    margin-bottom: 15px;
}
.next-previous {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    display: block;
    overflow: hidden;
    padding: 10px 0;
}
.previous > a,
.next > a {
    font-size: 18px;
    text-transform: capitalize;
}
.leave-comment {
    margin-top: 50px;
}
h3.leave-comment-text {
    display: inline-block;
    font-size: 20px;
    padding-bottom: 10px;
    text-transform: capitalize;
}
.leave-form input {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #c1c1c1;
    color: #666666;
    font-size: 14px;
    height: 35px;
    margin-bottom: 30px;
    padding: 0 20px;
}
.text-leave textarea {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #c1c1c1;
    color: #666666;
    font-size: 14px;
    height: 165px;
    margin-bottom: 30px;
    padding: 20px;
}
.text-leave button.submit {
    background-color: #222;
    border: 1px solid #222;
    color: #fff;
    font-size: 14px;
    padding: 10px 30px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
.text-leave button.submit:hover {
    background-color: transparent;
    border: 1px solid #222;
    color: #222;
}


/*------------  13. Contact us -------------*/

.contact-from {
    background: #f6f6f6 none repeat scroll 0 0;
    padding: 50px;
}
.contact-from input {
    background-color: #fff;
    border: medium none;
    color: #aaaaaa;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 24px;
    padding: 16px 20px;
    transition: all 0.3s ease 0s;
    width: 100%;
}
.contact-from textarea {
  background-color: #fff;
  border: medium none;
  color: #aaaaaa;
  font-size: 14px;
  font-weight: normal;
  height: 114px;
  padding: 16px 20px;
  transition: all 0.3s ease 0s;
  width: 100%;
}
p.form-messege {
  margin-bottom: 0;
}
.contact-from input:focus {
    outline: medium none;
}
.contact-from button.submit {
    background-color: #333;
    border: 1px solid #333;
    color: #fff;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 22px;
    padding: 15px 10px 13px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    width: 100%;
}
.contact-from button.submit:hover {
    background-color: #666;
    border: 1px solid #666;
}
.single-communication {
    display: block;
    margin-bottom: 24px;
    overflow: hidden;
}
.communication-icon {
    display: inline-block;
    float: left;
}
.communication-icon i {
    border: 1px solid #666;
    border-radius: 50%;
    color: #666;
    font-size: 24px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    width: 64px;
}
.communication-text {
    padding-left: 87px;
    padding-top: 9px;
}
.communication-text > h3 {
    color: #222;
    font-size: 15px;
    font-weight: normal;
}
.communication-text > p,
.communication-text > p a {
    color: #464646;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 0;
    transition: all 0.3s ease 0s;
}
.single-communication:last-child {
    margin-bottom: 0;
}
#hastech {
    height: 400px;
    width: 100%;
}
/*  home-4 */

.cd-headline.clip .cd-words-wrapper::after {
    content: none;
}
/*  home-5 */

.slider-style-5 .slider-opacity::before {
    background-color: #000;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
}
.slider-style-5 .slider-text.style-2 {
    background-color: transparent;
}
.slider-style-5 .slider-text.style-2 h2 {
  color: #fff;
  font-size: 95px;
  line-height: 1;
}
.slider-style-5 .slider-text.style-2 > h3 {
    color: #fff;
    font-size: 28px;
}
.slider-style-5 .slider-text > a {
    background-color: #fff;
    border: 1px solid #fff;
    color: #333;
}
.slider-style-5 .slider-text > a:hover {
    background-color: transparent;
    color: #fff;
}
.banner-img > img {
    width: 100%;
}
/*------------  14. About us -------------*/

.team-img-name > img {
    width: 100%;
}
.team-img-name {
    overflow: hidden;
    position: relative;
}
.member-title {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    bottom: -100px;
    display: block;
    left: 0;
    overflow: hidden;
    padding: 15px 10px;
    position: absolute;
    transition: all 0.3s ease 0s;
    width: 100%;
}
.single-team:hover .member-title {
    bottom: 0;
}
.member-title > h2 {
    color: #fff;
    font-size: 25px;
    margin-bottom: 5px;
    text-transform: capitalize;
}
.member-title > p {
    color: #fff;
    font-size: 15px;
    margin-bottom: 0px;
}
.member-info {
    border-color: #ddd;
    border-style: solid;
    border-width: 0 1px 1px;
    padding: 20px 10px 27px;
}
.member-social a {
    border: 1px solid #ddd;
    color: #626262;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: 0 5px;
    width: 30px;
    transition: all .3s ease 0s;
    background-color: transparent;
}
.member-social a:hover {
    border: 1px solid #222;
    color: #fff;
    background-color: #222;
}
.about-text-title > h2 {
    font-size: 35px;
    margin-bottom: 30px;
    text-transform: capitalize;
    color: #464646;
}
.about-text-title > p {
    padding: 0 195px;
}
.about-counter {
    margin: 90px 0 57px;
}
.about-text-title {
    margin-top: 15px;
}
h2.count {
    font-size: 45px;
}
.count-title > span {
    color: #717179;
    font-size: 18px;
}
.main-title {
    font-size: 35px;
    margin-bottom: 25px;
    position: relative;
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 15px;
    color: #464646;
}
.about-text > img {
    width: 100%;
}
.single-testimonial > p {
    padding: 0 197px;
}
.single-testimonial > h2 {
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
}
.single-testimonial > h3 {
    margin-bottom: 0;
    text-transform: capitalize;
    font-size: 13px;
}
.testimonial-area {
    margin-bottom: 90px;
}
h2.main-title::before {
    background-color: #ccc;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 100px;
}
.our-team .main-title {
    margin-bottom: 32px;
}

.single-banner img {
    height: 420px;
    width: 380px;
    padding-bottom: 30px;
    padding-left: 30px;
    
}
.single-banner {
    position: relative;

   
}
.single-banner::before {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 0.3s ease-in-out 0s;
    width: 100%;
}
.single-banner:hover::before {
    opacity: 0.5;
}
.single-banner-title {
    bottom: 20px;
    left: 20px;
    opacity: 0;
    position: absolute;
    transition: all .3s ease 0s;
}

.single-banner:hover .single-banner-title {
    opacity: 1;
}
.single-banner-title > h3 {
    color: #fff;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.single-banner-title > a {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 0px;
    transition: all .3s ease 0s;
}
.single-banner-title > a:hover {
    padding-left: 7px;
}
.newsletter-title > h3 {
    color: #363636;
    font-size: 30px;
    text-align: right;
    text-transform: capitalize;
    margin-top: 2px;
    margin-bottom: 0;
}
.brand-border {
    border-bottom: 1px solid #f6f6f6;
}
.newsletter-title {
    margin-right: 40px;
}

/*------------  15. Scrollup -------------*/

a#scrollUp {
    background: #666 none repeat scroll 0 0;
    bottom: 54px;
    color: #fff;
    font-size: 23px;
    height: 40px;
    line-height: 34px;
    position: absolute;
    right: 32px;
    text-align: center;
    width: 40px;
}
a#scrollUp:hover {
    background: #000 none repeat scroll 0 0;
}
















